<table class="table">
  <thead>
    <tr>
      <th>Repair order</th>
      <th>Recommendations</th>
      <th>Maintenance</th>
      <th>Causes</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @repair_orders.each do |repair_order| %>
      <tr>
        <td><%= repair_order.ro_number %></td>
        <td><%= repair_order.recommendations %></td>
        <td><%= repair_order.maintenance %></td>
        <td><%= repair_order.items.count %></td>
        <td><%= link_to 'Show', repair_order %></td>
        <td><%= link_to 'Edit', edit_repair_order_path(repair_order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>