<%= form_for(@repair_order) do |f| %>
  <% if @repair_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repair_order.errors.count, "error") %> prohibited this repair_order from being saved:</h2>

      <ul>
      <% @repair_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :ro_number %>
    <%= f.number_field :ro_number %>
  </div>












  <div class="item-list">
    <%= f.fields_for :items do |builder| %>
      <div class="item">
        <div class="form-group">
          <div class="item-inputs">
            <%= builder.label :cause, "Cause" %>
            <%= builder.text_area :cause, class: 'form-control' %>
          </div>
          <div class="item-uploads"><span class="item-upload-field"><i class="fa fa-camera"></i><i class="fa fa-paperclip"></i></span></div>
        </div>
        <div class="form-group">
          <div class="item-inputs">
            <%= builder.label :correction, "Correction" %>
            <%= builder.text_area :correction, class: 'form-control' %>
          </div>
          <div class="item-uploads"><span class="item-upload-field"><i class="fa fa-camera"></i><i class="fa fa-paperclip"></i></span></div>
        </div>
        <div class="form-group delete-item">
          <%= builder.label :_destroy, "Remove Item" %>
          <%= builder.check_box :_destroy %>
        </div>
      </div>
    <% end %>
  </div>

  <a class="add-item-button" href="#">Add Record</a>

  <div class="row">
    <div class="detail-fields">
      <div class="form-group large-6 columns">
        <%= f.label :recommendations %>
        <%= f.text_area :recommendations %>
      </div>
      <div class="form-group large-6 columns">
        <%= f.label :maintenance %>
        <%= f.text_area :maintenance %>
      </div>
    </div>  
  </div>
    
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-default" %>
  </div>
<% end %>