<h2>Repair Order #<%= @repair_order.ro_number %></h2>
<p>Year: <%= @repair_order.year %></p>
<p>Model: <%= @repair_order.model %></p>

<% @repair_order.items.each do |i| %>
  <div class="repair-order-item panel">
    <p><strong class="item-label">Cause</strong><%= simple_format i.cause %></p>
    <p><strong class="item-label">Correction</strong><%= simple_format i.correction %></p>
  </div>
<% end %>

<% unless @repair_order.recommendations.blank? %>
<p>
  <strong>Recommendations</strong>
  <%= simple_format @repair_order.recommendations %>
</p>
<% end %>

<% unless @repair_order.maintenance.blank?  %>
<p>
  <strong>Maintenance</strong>
  <%= simple_format @repair_order.maintenance %>
</p>

<% end %>

<%= link_to 'Edit', edit_repair_order_path(@repair_order) %>
